#editor, #preview {
    // -fx-font-family: 'Open Sans','Helvetica Neue','Arial','Verdana','Hiragino Sans GB','STHeiti','SimSun',sans-serif;
    -fx-font-family: 'Hiragino Sans GB';
    -fx-font-size: 18px;
    -fx-line-height: 350%;
    -fx-line-spacing: 3em;
}
#editor .scroll-bar {
    -fx-font-size: 14px;
}

#preview .scroll-bar {
    -fx-font-size: 14px;
}